$main: #10D48E;
$main-muted: #28EFA8;
$black-1: #060E14;
$black-2: #132A3A;
$black-3: #204660;
$grey-1: #f4f7f8;
$grey-2: #C7C7C7;
$white: #F2F2F2;

$canvas-element-border-color: #f4f7f870;

$text-black-1: #535353;
$text-primary: #6C63FF;

$color-primary-transparent-30: #6C63FF30;
$color-primary-transparent-10: #6C63FF10;
$color-primary: #6C63FF;

$transition-delay: 0.2s;
$border-radius: 3px;

